@import './fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: var(--color-text-primary);
  background: var(--color-background-default);
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
