:root {
  --primitive-neutral-0: #ffffff;
  --primitive-neutral-50: #fffbf2;
  --primitive-neutral-100: #f2ece2;
  --primitive-neutral-300: #cec5ba;
  --primitive-neutral-500: #81786d;
  --primitive-neutral-600: #686158;
  --primitive-neutral-700: #3d3b37;
  --primitive-neutral-900: #252321;
  --primitive-neutral-1000: #191816;
  --primitive-brand-50: #f0f2fe;
  --primitive-brand-100: #dfe4fc;
  --primitive-brand-300: #a3b0f5;
  --primitive-brand-500: #7185ee;
  --primitive-brand-600: #152cc0;
  --primitive-brand-700: #102294;
  --primitive-brand-900: #111950;
  --primitive-green-50: #f0f6ed;
  --primitive-green-100: #dbead5;
  --primitive-green-300: #a8cca0;
  --primitive-green-500: #5d8c61;
  --primitive-green-600: #346344;
  --primitive-green-700: #284f35;
  --primitive-green-900: #193122;
  --primitive-amber-50: #fcf5e7;
  --primitive-amber-100: #f5e6c4;
  --primitive-amber-300: #e0bd79;
  --primitive-amber-500: #af8036;
  --primitive-amber-600: #956521;
  --primitive-amber-700: #805112;
  --primitive-amber-900: #432d12;
  --primitive-red-50: #fcf1ed;
  --primitive-red-100: #f2dcd5;
  --primitive-red-300: #dfa69a;
  --primitive-red-500: #c46b5d;
  --primitive-red-600: #ac4137;
  --primitive-red-700: #87352d;
  --primitive-red-900: #48231f;
}
